<div class="container-main">
  <h1 class="title-container">Lista de Professores</h1>

  <div class="content">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Registration</th>
          <th>Department</th>
          <th>Discipline</th>
        </tr>
      </thead>
      <tbody>

          <% @teachers.each do |teacher| %>
              <tr>
                <td><%= teacher.name %></td>
                <td><%= teacher.registration %></td>
                <td><%= teacher.department %></td>
                <td><%= teacher.discipline %></td>
              </tr>
          <% end %>

      </tbody>

    </table>
  </div>

</div>
